.bd{
	background-color: rgba(0,0,0,.05);
	/* background-color: red; */
}
.main{
	 margin: 0 auto;width: 1300px; height: 500px;
	 padding-bottom: 100px;
	 /* background-color: indianred; */
}
.main-01{
	margin: 0 auto;width: 1250px; height: 500px;
	padding-bottom: 100px;
	/* background-color: ; */
}
.c1{
	margin: 0 auto;width: 1200px; height: 500px;
	padding-bottom: 100px;
	/* background-color: salmon;" */
}
.c1-left{
	 width: 200px;height: 400px;
	 float: left;
	 /* background-color: saddlebrown; */
}
.c2-cent{
	margin: 0 auto;width: 720px; height: 500px;
	padding-bottom: 100px;
	float: left;
	/* background-color: ; */
}
.c2-cent-1{
	width: 240px; height: 270px;
	float: left;
	/* background-color: ; */
}
.c2-cent-2{
	width: 200px; height: 270px;
	margin: 0 auto;
	background-color: ;
}
a:link {
	color: #000000;
}

a:visited {
	color: #000000;
}

a {
	text-decoration: none;
	padding-left: 10px;
}

li {
	padding-top: 10px;
	list-style: none;
	width: 200px;
	height: 30px;
	background-color: rgba(250, 250, 250);
	border-radius: 2px;
	margin: 5px 0;

}
ul{
	padding-inline-start: 0px;
	/* background-color: ; */
}
.li-wid{
	width: 200px;height: 30px;
	float: left;
	margin-left: 40px;
}
.span-title{
	font-size: 20px;
	margin-left: 10px;
}
.tb-img {
	/* margin: 0 auto; */
	width: 150px;
	height: 100px;
	background-color: aquamarine;
	float: left;
}

.tb-img img {
	width: 150px;
	height: 100px;
}
